@page
@model NintendoInventory.UI.Pages.Account.LoginModel
@{
}
<div class="login">
    <form>
        <h2 class="login-title">Login</h2>
        <div class="login-content">
            <div class="login-input">
                <input type="email" placeholder="Email" class="form-control" asp-for="LoginInfo.Email" />
                <span class="text-danger login-validation" asp-validation-for="LoginInfo.Email"></span>
            </div>
            <div class="login-input">
                <input type="password" placeholder="Password" class="form-control" asp-for="LoginInfo.Password" />
                <span class="text-danger login-validation" asp-validation-for="LoginInfo.Password"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary login-button">Login</button>
    </form>
</div>