@page
@model NintendoInventory.UI.Pages.Account.RegisterModel
@{
}

<div class="login-container">
    <div class="login-title">
    <h3>Create an Account</h3>
    </div>
    <div class="login">
        <form method="post">
            <div class="login-content">
                <div class="text-danger login-validation" asp-validation-summary="All"></div>

                <h5>Choose Profile Picture:</h5>
                <div class="profile-images row">

                    @foreach (var profileImage in Model.profileImages)
                    {
                        var URL = @profileImage.ProfileImageURL;
                        <div class="profile-img col-md-2">
                            <label class="profile-img-label">
                                <input type="radio" asp-for="NewUser.ProfileImageID" value="@profileImage.ProfileImageID" />
                                <img class="img-thumbnail" src="@URL" />
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group input-icons">
                    <i class="bi bi-person-fill icon"></i>
                    <input type="text" placeholder="First Name" asp-for="NewUser.FirstName" class="form-control login-input" />
                    <span asp-validation-for="NewUser.FirstName" class="text-danger login-validation"></span>
                </div>
                <div class="form-group input-icons">
                    <i class="bi bi-person-fill icon"></i>
                    <input type="text" placeholder="Last Name" asp-for="NewUser.LastName" class="form-control login-input" />
                    <span asp-validation-for="NewUser.LastName" class="text-danger login-validation"></span>
                </div>
                <div class="form-group input-icons">
                    <i class="bi bi-envelope-fill icon"></i>
                    <input type="text" placeholder="Email" asp-for="NewUser.Email" class="form-control login-input" />
                    <span asp-validation-for="NewUser.Email" class="text-danger login-validation"></span>
                </div>
                <div class="form-group input-icons">
                    <i class="bi bi-lock-fill icon"></i>
                    <input type="password" placeholder="Password" asp-for="NewUser.Password" class="form-control login-input" />
                    <span asp-validation-for="NewUser.Password" class="text-danger login-validation"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary login-button">Sign up</button>
            <a asp-page="Login">already have an account?</a>
        </form>
    </div>
</div>