html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@font-face {
    font-family: 'Pretendo';
    src: url(../lib/fonts/pretendo.otf) format('opentype')
}
/*Privacy Policy*/
#privacy {
    font-size: 20px;
}
/*layout*/
#header {
    background-color: #E7000A;
}

#body {
    padding-bottom: 90px;
}

#footer {
    background-color: #E7000A;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 150px;
    height: 50px;
}

li {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: Pretendo;
    text-align: left;
    padding: 0px 20px;
}

    li::after {
        content: '';
        width: 0%;
        height: 5px;
        background: #FFFFFF;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    li:hover:after {
        width: 100%;
    }

/*Console------------------------------------------------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    border: 2px solid #595959;
    width: fit-content; /* Could be more or less, depending on screen size */
    display: flex;
    align-items: center;
    justify-content: center;
}

#delPrompt {
    font-weight: bold;
}

#modalButtons {
    display: inline;
}

#confirmBtn {
    background-color: #E7000A;
    color: white;
    border-color: transparent;
}

#cancelBtn {
    color: aliceblue;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


#consoleDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    border: 2px Solid #D8D8D8;
    border-radius: 5px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #consoleDiv:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(127, 186, 254, 1);
    }

#consButtons {
    justify-content: space-between;
}

#consDelBtn {
    background-color: #FF3333;
    border-color: #D8D8D8;
    width: 30px;
    height: 30px;
    color: #D8D8D8;
    font-weight: bold;
    display: inline-flex;
}

#ATWLbtn {
    background-color: #58FA86;
    border-color: #D8D8D8;
    width: 30px;
    height: 30px;
    color: #595959;
    font-weight: bold;
    display: inline-flex;
    float: right;
}

#consNamePrice {
    height: max-content;
    background-color: blueviolet;
}

#consImgDiv {
    margin: auto;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consBotRow {
    padding: 1px;
}

#consoleName {
    font-weight: bold;
    text-align: left;
}

#consPrice {
    text-align: left;
}

.image {
    width: 100%;
    height: auto;
}

#addButton {
    background-color: #00BBE2;
    border-radius: 10px;
    border-color: transparent;
}

/*Console- Add*/

#consAddButton {
    background-color: #00BBE2;
    border-radius: 10px;
    border-color: transparent;
}

#consLabelText {
    font-size: 20px;
    font-weight: bold;
}

#consForm {
    width: 550px;
    padding: 2em 0 2em 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

/*Games---------------------------------------------------------------------------------------------------*/
.card {
    width: 288px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

    .card:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(127, 186, 254, 1);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
    }

.card_Link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-img-top {
    aspect-ratio: 16/9;
    margin-top: 10px;
}

.card-body {
    aspect-ratio: 16/9;
}

.card-title {
    margin-bottom: -2px;
}

.card-date {
    font-size: 12px;
}

#gameButtons {
    background-color: palevioletred;
}

#gamesATWLbtn {
    background-color: #58FA86;
    border-color: #D8D8D8;
    color: black;
    position: absolute;
    bottom: 0;
    left: 10px;
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delButton {
    background-color: red;
    border-color: #D8D8D8;
    color: black;
    position: absolute;
    bottom: 0;
    left: 10px;
    margin-left: 35px;
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamePrice {
    position: absolute;
    bottom: 0;
    left: 230px;
    margin-bottom: 5px;
}

#gameAddButton {
    background-color: #00BBE2;
    border-radius: 10px;
}

#labelText {
    font-size: 20px;
    font-weight: bold;
}

#form {
    width: 550px;
    padding: 2em 0 2em 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
