html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Console*/
#consoleDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    background-color: #FEFDED;
    border: 2px Solid #D8D8D8;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consButtons{
    background-color: palevioletred;
}

#ATWLbtn {
    background-color: #58FA86;
    border-color: #D8D8D8;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: #595959;
    font-size: 25px;
    font-weight: bold;
}
#consNamePrice {
    height: max-content;
    background-color: blueviolet;
    align-items:
}

#consImgDiv{
    background-color: purple;
    margin: auto;
    padding: 10px ;
    text-align:center;
    height: 200px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consBotRow{
    background-color:deepskyblue;
    padding:1px;
}
#consoleName {
    font-size: 15px;
    font-weight: bold;
    text-align:left;
}

#consPrice {
    text-align: left;
}
.image {
    width: 100%;
    height: auto;
}

#addButton {
    background-color: #00BBE2;
    border-radius: 10px;
    border-color: transparent;
    padding-right: 10px;
}

#deleteButton {
    background-color: #FF3333;
    border-radius: 10px;
    border-color: transparent;
}

/*Games*/
.card {
 
 width:288px;
 margin:10px;
    
}

#gameButtons {
    background-color: palevioletred;
}

#ATWLbtn {
    background-color: #58FA86;
    border-color: #D8D8D8;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: #595959;
    font-size: 25px;
    font-weight: bold;
}

#gameTitlePrice {

    background-color: blueviolet;

}

#gameImgDiv {
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 200px;
}

#gameBotRow {
    background-color: deepskyblue;
    padding: 1px;
}

#gameTitle {
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

#gamePrice {
    text-align: right;
}

.image {
    object-fit:cover;
    
}

#addButton {
    background-color: #00BBE2;
    border-radius: 10px;
    border-color: transparent;
    padding-right: 10px;
}

#deleteButton {
    background-color: #FF3333;
    border-radius: 10px;
    border-color: transparent;
}



