html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Console*/
#consoleDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    background-color: #FEFDED;
    border: 2px Solid #D8D8D8;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consButtons{
    justify-content: space-between;
}

#consDelBtn {
    background-color: #FF3333;
    border-color: #D8D8D8;
    width: 30px;
    height: 30px;
    color: #D8D8D8;
    font-weight: bold;
    display: inline-flex;
    
}

#ATWLbtn {
    background-color: #58FA86;
    border-color: #D8D8D8;
    width: 30px;
    height: 30px;
    color: #595959;
    font-weight: bold;
    display: inline-flex;
    float: right;
}
#consNamePrice {
    height: max-content;
    background-color: blueviolet;
}

#consImgDiv{
    margin: auto;
    text-align:center;
    height: 200px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consBotRow{
    padding:1px;
}
#consoleName {
    font-weight: bold;
    text-align:left;
}

#consPrice {
    text-align: left;
}
.image {
    width: 100%;
    height: auto;
}

#addButton {
    background-color: #00BBE2;
    border-radius: 10px;
    border-color: transparent;
}

/*Games*/
.card {
 
 width:288px;
 margin:10px;
    
}

.card-img-top {
    aspect-ratio: 16/9;
    margin-top: 10px;
}

.card-body{
    aspect-ratio: 16/9;
}
.card-title{
    margin-bottom: -2px;
}
.card-date{
    font-size: 12px;
}
#gameButtons {
    background-color: palevioletred;
}
#gamesATWLbtn {
    background-color: #58FA86;
    border-color: #D8D8D8;
    color: black;
    position: absolute;
    bottom: 0;
    left: 10px;
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gamePrice{
    position: absolute;
    bottom: 0;
    left: 230px;
    margin-bottom:5px;
}










