@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if(HttpContext.User.Identity != null)
    {
       Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenticatedLayout" : "_Layout";
    }
}

<div class="text-center">
    <h1 class="display-4 text-secondary fw-bold">This is where our Home page will be</h1>
    <div class="bg-danger bg-opacity-10 text-secondary rounded pb-5">
        <h2>Login</h2>
        <img src="https://cdn.discordapp.com/attachments/1068621068559982623/1089802335796068422/image.png" />
    </div>
</div>
