@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenicatedLayout" : "_Layout";
    }
}


<div class="preview">
<h1 class="display-4 text-secondary fw-bold">Browse Games</h1>
<div class="preview-container">

    @foreach (var Game in Model.GamePreview)
    {
        var URL = @Game.GameImageURL;
        <div class="preview-item">
            <div class="preview-content">
                <img class="image" src=@Game.GameImageURL>
            </div>
        </div>
    }
</div>
</div>
<div>
    dsd
</div>
<h1 class="display-4 text-secondary fw-bold">Browse Consoles</h1>
<div class="preview-container">
    @foreach (var Console in Model.ConsolePreview)
    {
        @*<div class="preview-item">
    <div class="preview-content">
    <h2>@Console.ConsoleName</h2>
    </div>
    <div class="preview-img-div">
    <img class="image" src=@Console.ConsoleImageURL>
    </div>
    </div>*@
    }
</div>
<h1 class="display-4 text-secondary fw-bold">Wishlist</h1>
<div class="bg-danger bg-opacity-10 text-secondary rounded pb-5">
    <h2>Login</h2>
    <img src="https://cdn.discordapp.com/attachments/1068621068559982623/1089802335796068422/image.png" />
</div>
</div>
