@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-secondary fw-bold">This is where our Home page will be</h1>
    <div class="bg-danger bg-opacity-10 text-secondary rounded">
        <h3>Wishlist Preview</h3>
        <img src="https://img.icons8.com/ios-filled/512/image-file.png" />
    </div>
</div>
