@page
@model NintendoInventory.UI.Pages.Games.AddGameModel
@{
}
<form method="post">
    <div class="row mb-3">
        <label for="inputGameTitle" class="col-sm-2 col-form-label">Game Title:</label>
        <div class="col-sm-5">
            <input onclick="focus" type="text" class="form-control" id="inputGameTitle" asp-for="NewGame.GameTitle" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputGameDescription" class="col-sm-2 col-form-label">Game Description:</label>
        <div class="col-sm-5">
            <textarea rows="3" class="form-control" id="inputGameDescription" asp-for="NewGame.GameDescription"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputGameImageURL" class="col-sm-2 col-form-label">Game Image URL:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="inputGameImageURL" asp-for="NewGame.GameImageURL" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputReleaseDate" class="col-sm-2 col-form-label">Release Date:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="inputReleaseDate" asp-for="NewGame.ReleaseDate" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPrice" class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="inputPrice" asp-for="NewGame.Price" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Game</button>
</form>
