@page
@model NintendoInventory.UI.Pages.Games.AddGameModel
@{
}

<script type="text/javascript">
    function validateInput() {
        var isValid = true;
        var gameTitle = document.getElementById("inputGameTitle");
        var gameImageURL = document.getElementById("inputGameImageURL");
        var gamePrice = document.getElementById("inputPrice");
        //var gameReleaseDate = document.getElementById("inputReleaseDate");
        //var gameDescription = document.getElementById("inputDescription");
        if (gameTitle.value === "") {
            document.getElementById("gameTitleError").innerHTML = "Game Title is required.";
            isValid = false;
        }
        if (gameImageURL.value === "") {
            document.getElementById("gameImageURLError").innerHTML = "Game Image URL is required.";
            isValid = false;
        }
        if (gamePrice.value === "") {
            document.getElementById("gamePriceError").innerHTML = "Game Price is required.";
            isValid = false;
        }
        /*if (gameReleaseDate.value === "") {
            document.getElementById("gameReleaseDateError").innerHTML = "Game Release Date is required.";
            isValid = false;
        }
        if (gameDescription.value === "") {
            document.getElementById("gameDescriptionError").innerHTML = "Game Description is required.";
            isValid = false;
        }*/
        return isValid;
    }
</script>

<form method="post" id="form">
    <div class="form-group mb-3">
        <label id="labelText" for="inputGameTitle">Game Title:</label>
        <input type="text" class="form-control" id="inputGameTitle" placeholder="Game Title" asp-for="NewGame.GameTitle" />
        <span asp-validation-for="NewGame.GameTitle" class="text-danger" id="gameTitleError"></span>
    </div>
    <div class="form-group mb-3">
        <label id="labelText" for="inputGameImageURL">Game Image URL:</label>
        <input type="text" class="form-control" id="inputGameImageURL" placeholder="Game Image URL" asp-for="NewGame.GameImageURL" />
        <span asp-validation-for="NewGame.GameImageURL" class="text-danger" id="gameImageURLError"></span>
    </div>
    <div class="form-group mb-3">
        <label id="labelText" for="inputPrice">Game Price:</label>
        <input type="text" class="form-control" id="inputPrice" placeholder="Game Price" asp-for="NewGame.Price" />
        <span asp-validation-for="NewGame.Price" class="text-danger" id="gamePriceError"></span>
    </div>
    <!--<div class="form-group mb-3">
        <label id="labelText" for="inputReleaseDate">Game Release Date:</label>
        <input type="text" class="form-control" id="inputReleaseDate" placeholder="Game Release Date" asp-for="NewGame.ReleaseDate" />
        <span asp-validation-for="NewGame.ReleaseDate" class="text-danger" id="gameReleaseDateError"></span>
    </div>
    <div class="form-group mb-3">
        <label id="labelText" for="inputGameDescription">Game Description:</label>
        <input type="text" class="form-control" id="inputGameDescription" placeholder="Game Description" asp-for="NewGame.GameDescription" />
        <span asp-validation-for="NewGame.GameDescription" class="text-danger" id="gameDescriptionError"></span>
    </div>-->
    <button type="submit" id="gameAddButton" class="btn btn-primary">Add Game</button>
</form>
