@page
@model NintendoInventory.UI.Pages.Games.IndexModel
@{
}

<div id="container">
    <div class="col-sm-3">
        <h1 class='title'>Games</h1>
    </div>
    <div class="col-sm-9">
        <!--<h2 class='subtitle'>.</h2>-->
    </div>
</div>


@foreach (var Game in Model.GameList)
{
     <div class="row mb-3">
        <div class="col-sm-3">
            <img src="@Game.GameImageURL"> 
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    @Game.GameName
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Game.ReleaseDate
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Game.Price
                </div>
            </div>
        </div>
    </div>
}