 @page
@model NintendoInventory.UI.Pages.Games.IndexModel
@{
}

<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Games</h1>
    </div>
    <div class="col-sm-3">
        <a id="addButton" class="btn btn-primary" asp-page="AddGame">Add Game</a>
        <a id="deleteButton" class="btn btn-primary">Delete Game</a>
    </div>
</div>

<div class="row m-4">
    @foreach (var Game in Model.GameList)
    {
        
        var URL = @Game.GameImageURL;
        <div class="card">
            <img class="card-img-top" src=@URL>
            <div class="card-body">
                <h5 class="card-title">@Game.GameTitle</h5>
                <h7 class="card-date">@Game.ReleaseDate</h7>
            </div>
                <button id="gamesATWLbtn" class="btn btn-primary rounded-circle "><i class="bi bi-plus"></i></button>
            <div id="gamePrice" class="col-sm-12">$@Game.Price</div>
            
        </div>
    }
</div>


