@page
@model NintendoInventory.UI.Pages.Consoles.addModel
@{
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenicatedLayout" : "_Layout";
    }
}
<script type="text/javascript">
    function validateInput(){
        var isValid = true;
        var consoleName = document.getElementById("inputConsoleName");
        var consoleImageURL = document.getElementById("inputConsoleImageURL");
        var consolePrice = document.getElementById("inputPrice");
        var consoleReleaseYear = document.getElementById("inputReleaseYear");

        if (consoleName.value === ""){
            document.getElementById("consoleNameError").innerHTML="Console Name is required.";
            isValid = false;
        }
        if (consoleImageURL.value === ""){
            document.getElementById("consoleImageURLError").innerHTML = "Console Image URL is required.";
            isValid = false;
        }
        if (consolePrice.value === ""){
            document.getElementById("consolePriceError").innerHTML = "Console Price is required.";
            isValid = false;
        }
        if (consoleReleaseYear.value === "") {
            document.getElementById("consoleReleaseYearError").innerHTML = "Console Release Year is required.";
            isValid = false;
        }
        return isValid;        
    }
</script>

<form method="post" id="consForm">
    <div class="form-group mb-3">
        <label id="consLabelText" for="inputConsoleName">Console Name:</label>
        <input type="text" class="form-control" id="inputConsoleName" placeholder="Console Name" asp-for="NewConsole.ConsoleName" />
        <span asp-validation-for="NewConsole.ConsoleName" class="text-danger" id="consoleNameError"></span>
    </div>
    <div class="form-group mb-3">
        <label id="consLabelText" for="inputConsoleImageURL">Console Image URL:</label>
        <input type="text" class="form-control" id="inputConsoleImageURL" placeholder="Console Image URL" asp-for="NewConsole.ConsoleImageURL" />
        <span asp-validation-for="NewConsole.ConsoleImageURL" class="text-danger" id="consoleImageURLError"></span>
    </div>
    <div class="form-group mb-3">
        <label id="consLabelText" for="inputPrice">Console Price:</label>
        <input type="text" class="form-control" id="inputPrice" placeholder="Console Price" asp-for="NewConsole.Price" />
        <span asp-validation-for="NewConsole.Price" class="text-danger" id="consolePriceError"></span>
    </div>
    <div class="form-group mb-3">
        <label id="consLabelText" for="inputPrice">Console Release Year:</label>
        <input type="text" class="form-control" id="inputReleaseYear" placeholder="Console Release Year" asp-for="NewConsole.ReleaseYear" />
        <span asp-validation-for="NewConsole.ReleaseYear" class="text-danger" id="consoleReleaseYearError"></span>
    </div>
    <button type="submit" id="consAddButton" class="btn btn-primary" onclick="return validateInput()">Add Console</button>
</form>