@page
@model NintendoInventory.UI.Pages.Consoles.IndexModel
@{
}
<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Consoles</h1>
    </div>
    <div class="col-sm-3">
        <a id="addButton" class="btn btn-primary" asp-page="Add">Add Console</a>
    </div>
</div>

<div class="row m-4">
    @foreach (var Console in Model.ConsoleList)
    {

        var URL = @Console.ConsoleImageURL;
        <div id="consoleDiv" class="col-md-2 ">
            <div>
                <div id="consButtons">
                    <Button id="consDelBtn" class="btn btn-primary rounded-circle align-items-center justify-content-center" asp-page="delete">
                        <i class="bi bi-x-lg"></i>
                    </Button>
                    <Button id="ATWLbtn" onclick="addConsoleToWL(@Console.ConsoleName)" class="btn btn-primary rounded-circle align-items-center justify-content-center ">
                        <i class="bi bi-plus-lg"></i>
                    </Button>
                    
                </div>
                <div id="consImgDiv" class="overflow-auto">
                    <img class="image" src=@URL>
                </div>
                <div id="consBotRow">
                    <div class="row">
                        <div id="consoleName" class="col-sm-12">
                            @Console.ConsoleName
                        </div>
                    </div>
                    <!--<div class="row">
                        <div id="releaseDate" class="col-sm-12">
                             Console.ReleaseDate
                        </div>
                    </div>-->
                    <div class="row">
                        <div id="consPrice" class="col-sm-12">
                            $@Console.Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function addConsoleToWL(ConsoleName){
        document.getElementById("ATWLbtn").style.visibility = "hidden";
        print(ConsoleName);
    }
</script>