@page
@model NintendoInventory.UI.Pages.Consoles.IndexModel
@{
}
<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Consoles</h1>
    </div>
    <div class="col-sm-3">
        <a id="addButton" class="btn btn-primary" asp-page="Add">Add Console</a>
        <a id="deleteButton" class="btn btn-primary">Delete Console</a>
    </div>
</div>

<div class="row m-4">
    @foreach (var Console in Model.ConsoleList)
    {

        var URL = @Console.ConsoleImageURL;
        <div id="consoleDiv" class="col-md-2 ">
            <div>
                <div id="consButtons">
                    <Button id="ATWLbtn" class="btn btn-primary rounded-circle d-flex align-items-center text-center justify-content-center">
                        <i class="bi bi-plus"></i>
                    </Button>
                    <Button id="consDelbtn" class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-plus"></i>
                    </Button>
                </div>
                <div id="consImgDiv">
                    <img class="image" src=@URL>
                </div>
                <div id="consBotRow">
                    <div class="row">
                        <div id="consoleName" class="col-sm-12">
                            @Console.ConsoleName
                        </div>
                    </div>
                    <!--<div class="row">
                        <div id="releaseDate" class="col-sm-12">
                             Console.ReleaseDate
                        </div>
                    </div>-->
                    <div class="row">
                        <div id="consPrice" class="col-sm-12">
                            $@Console.Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

