@page
@model NintendoInventory.UI.Pages.Consoles.IndexModel
@{
}
<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Consoles</h1>
    </div>
    <div class="col-sm-3">
        <a id="addButton" class="btn btn-primary" asp-page="Add">Add Console</a>
        <a id="deleteButton" class="btn btn-primary">Delete Console</a>
    </div>
</div>

<div class="row m-4">
    @foreach (var Console in Model.ConsoleList)
    {

        var URL = @Console.ConsoleImageURL;
        <div id="consoleDiv" class="col-md-2 ">
            <div class="mx-3" style="display: flex; flex-direction: row;">
                <div class="" style="text-align: justify;">
                    <img class="image" src=@URL>
                </div>
            </div>
            <div class="row mx-3">
                <div class="d-inline col-sm-10">
                    <div class="row">
                        <div id="consoleName" class="col-sm-12">                           
                            @Console.ConsoleName
                        </div>
                    </div>
                    <!--<div class="row">
                        <div id="releaseDate" class="col-sm-12">
                             Console.ReleaseDate
                        </div>
                    </div>-->
                    <div class="row">
                        <div id="price" class="col-sm-12">
                            $@Console.Price
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 d-flex align-items-end justify-content-center">
                    <Button id="ATWLbtn" class="btn btn-primary rounded-circle d-flex align-items-center text-center justify-content-center">
                        <i class="material-icons">add</i>
                    </Button>
                </div>
            </div>
        </div>
    }
</div>

<style>
    #consoleName{
        font-size: 15px;
        font-weight: bold;
    }

    .image{
        width: 100%;
        height: auto;
    }

    #addButton {
        background-color: #00BBE2;
        border-radius: 10px;
        border-color:transparent;
        padding-right:10px;
    }
    #deleteButton {
        background-color: #FF3333;
        border-radius: 10px;
        border-color:transparent;
    }
    #ATWLbtn {
        background-color: #58FA86;
        border-color:#D8D8D8;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        color: #595959;
        font-size: 25px;
        font-weight: bold;

    }
    #consoleDiv {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 15px;
        background-color: #FEFDED;
        border: 2px Solid #D8D8D8;
    }
</style>