@page
@model NintendoInventory.UI.Pages.Consoles.IndexModel
@{
}
<div id="container">
    <div class="col-sm-3">
        <h1 class='title'>Consoles</h1>
    </div>
    <div class="col-sm-9">
        <!--<h2 class='subtitle'>.</h2>-->
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <h2>Console List</h2>
    </div>
    <div class="col-sm-9">
        <a class="btn btn-primary" asp-page="Add Console">Add Console</a>
    </div>
</div>


@foreach (var Console in Model.ConsoleList)
{
    
    
        <div class="col-sm-3">
            <img class ="image"src="@Console.ConsoleImageURL">
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div id="consoleName" class="col-sm-12">
                    @Console.ConsoleName
                </div>
            </div>
            <div class="row">
                <div id="releaseDate" class="col-sm-12">
                    @Console.ReleaseDate
                </div>
            </div>
            <div class="row">
                <div id= "price" class="col-sm-12">
                    @Console.Price
                </div>
            </div>
        </div>
 
}


<style>
    #consoleName{
        font-size: 15px;
        font-weight: bold;
    }
  
    .image{
        width: 100%;
        height: auto;
    }

 
    
</style>