@page
@model NintendoInventory.UI.Pages.Login.IndexModel
@{
}

<div id="container" class="d-inline m-auto">
    <div class="col-sm-3">
        <h1 class='title'>Login</h1>
    </div>
</div>
<!--
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row mb-3">
        <label for="inputLoginID" class="col-sm-2 col-form-label" asp-for="NewLoginID.LoginID"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLoginID" asp-for="NewAuthor.AuthorName" />
            <span asp-validation-for="@User" class="text-danger" id="loginIDError"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputLoginID" class="col-sm-2 col-form-label">Author Bio:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="inputAuthorBio" asp-for="NewLoginID.LoginID" rows="4"></textarea>
            <span asp-validation-for="NewLoginID.LoginID" class="text-danger" id="loginIDError"></span>
        </div>
    </div>
</form> -->

