@page
@model NintendoInventory.UI.Pages.Wishlist.IndexModel
@{
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenicatedLayout" : "_Layout";
    }
}
<!--For Empty wishlist-->
<!--<div id="container">
    <div class='title'>Wishlist</div>
    <div class='subtitle'>Explore or remove items from your wishlist.</div>
    <div class='emptyAlert'>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>Nothing has been added to your wishlist yet.
    </div>
    <div class='addInfo'>
        You can save games and consoles by pressing the  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill=#FE0707 class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
        </svg>.
    </div>
</div>


<style>
    #container {
        margin: 35px;
    }

    .title {
        font-size: 32px;
        padding-left: 120px;
        font-weight: 600;
        color: #262626;
    }

    .subtitle {
        font-size: 16px;
        padding-left: 120px;
        color: #262626;
    }

    .emptyAlert {
        font-size: 28px;
        padding-left: 50px;
        font-weight: 600;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #EFEFEF;
        margin-top: 20px;
        color: #262626;
    }

    .addInfo {
        font-size: 16px;
        border: solid #FF0000 1px;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 8px;
        color: #262626;
        margin: auto;
        width: 34%;
        margin-top: 20px;
        margin-bottom:270px;
    }

</style>-->

<div id="container">
    <div class="col-sm-3">
        <h1 class='title'>Wishlist</h1>
    </div>
    <div class="col-sm-9">
        <h2 class='subtitle'>Explore or remove items from your wishlist.</h2>
    </div>
</div>


@foreach (var Wishlist in Model.WishlistList)
{
    <!--<div class="add_wishlist">
            <div class="row">
                <img class="col" id="picture" src="">
                <div class="col" id="name_date">
                    Minecraft <br> 06/20/18
                </div>
                <div class="col" id='price'>
                    $29.99
                </div>
                <div class="col" id='heart'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill=#FE0707 class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                </div>
                <div class='line'></div>
            </div>
        </div>
    -->
    <!-- Wishlist
    <div class="row mb-3">
        <div class="col-sm-3">
            <img src="" >  
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    
                </div>
            </div>
        </div>
    </div>
    -->
}



<!--<style>
    #container {
        margin: 35px;
    }

    .title {
        font-size: 32px;
        padding-left: 120px;
        font-weight: 600;
        color: #262626;
    }

    .subtitle {
        font-size: 16px;
        padding-left: 120px;
        color: #262626;
    }


    .col {
        margin-bottom: 15px;
        float: left;
    }

    #picture {
        border-radius: 10px;
        width: 150px;
        margin-top: 13px;
        margin-left: 14px;
    }

    #name_date {
        padding-top: 36px;
        margin-left: 15px;
    }

    #price {
        padding-top: 74px;
        margin-left: 400px;
    }

    #heart {
        padding-top: 71px;
        margin-left: 22px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .row {
        background-color: rgba(198,198,198,.3);
        margin-left: 150px;
        margin-right: 203px;
        border-radius: 5px;
    }

</style>-->
